rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'hdcc6th@gmail.com' ||
        request.auth.token.email == 'sunmoon.scc@gmail.com' ||
        request.auth.token.email == 'kaidiveshop@gmail.com'
      );
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
